.loggedOut {
  /*background: purple;*/
  text-align: center;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div {
  /*background-color: green;
  margin-top: 50px;*/
}
/*
div.container {
    background-color: red;
}

h5 {
  background-color: yellow;
}
*/
